-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "PricePoint" (
    "id" TEXT NOT NULL,
    "productKey" TEXT NOT NULL,
    "store" TEXT NOT NULL,
    "price" INTEGER NOT NULL,
    "shipping" INTEGER NOT NULL DEFAULT 0,
    "inStock" BOOLEAN NOT NULL DEFAULT true,
    "url" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PricePoint_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "PricePoint_productKey_createdAt_idx" ON "PricePoint"("productKey", "createdAt");

-- CreateIndex
CREATE INDEX "PricePoint_productKey_store_createdAt_idx" ON "PricePoint"("productKey", "store", "createdAt");

